<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel='stylesheet' href='style.css'>
        {% block stylesheets %}
            <link href="{{ asset('css/main.css') }} " rel='stylesheet'>
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block navbar %}
            <div id='navbar'>
                <div class='navbar-item'>
                    <a href="{{ path('app_shop') }}">Beers</a>
                </div>
                <div class='navbar-item'>
                    <a href="{{ path('app_cart') }}">Cart</a>
                </div>
                <div class='navbar-item'>
                    <a href="{{ path('app_login') }}">Login</a>
                </div>
            </div>
        {% endblock %}
        {% block body %}{% endblock %}
    </body>
</html>
